html,body
{
    /* width: 100%; */
    /* height: 100%; */
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}



/* MOBILE MEDIA */
/* MOBILE MEDIA */
/* MOBILE MEDIA */


/* lottie animation*/
#happy-face {
    background-color: black;
}
/* foto */
.foto-div {
    position: relative;
    width: 100%;
    background-color: #020202;
}

.foto-img {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center; 
    margin: auto;
}

/* about */

.about-div {
    position: relative;
    width: 100%;
    height: 28rem;
    background-color: #020202;
}
.about-text {
    position: relative;
    width: 80%;
    display: flex;
    justify-content: center; 
    margin: auto;
    padding-top: 6rem;
    text-align: center;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: #F4F4F4;
}

/* Contact me */

.social-div {
    background-color: #020202;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}




.social-text {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: #F4F4F4;
}


.social-email {
    position: relative;
    display: flex;
    justify-content: center;
}

.social-email-icon {
    width: 1.5rem;
    margin-right: 0.5rem;
}





.social-link {
    position: relative;
    display: flex;
    justify-content: center;
}

.social-link-icon {
    width: 1.5rem;
    margin-right: 0.5rem;
}




.social-cv {
    position: relative;
    display: flex;
    justify-content: center;
}
.social-cv-icon {
    width: 1.7rem;
    margin-right: 0.5rem;
}



.social-location {
    position: relative;
    display: flex;
    justify-content: center;
    margin-right: 0.5rem;
}
.social-location-icon {
    width: 2rem;
}



.social-website {
    position: relative;
    display: flex;
    justify-content: center;
}
.social-website-icon {
    width: 2.5rem;
}


a:link {
    text-decoration: none;
  }

a:hover {
    text-decoration: underline;
}



/* skill */
.skill-div {
    background-color: #020202;
    width: 100%;
    height: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill-main-title {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    color: #F4F4F4;
}

.skill-carousel {
    position: relative;
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
    height: 30rem;
    font-family: 'Roboto', sans-serif;
    color: #F4F4F4;
    font-size: 1rem;
}

.skill-tabs {
    position: absolute;
    bottom: -5rem;
}






.skill-title {
    display: flex;
    justify-content: center;
}

.skill-text {
text-align: center;
position: absolute;
}




.skill-set-div {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    bottom: -27rem;
}





.carousel-control-prev{
    position: absolute;
    left: -35%;
    height: 15rem;
}

.carousel-control-next {
    position: absolute;
    right: -35%;
    height: 15rem;
}





/* portafolio */



/* general */
.padding-off {
    padding-left: 0%;
    padding-right: 0%;

}

.image {
    position: relative;
    display: flex;
}

.overflow {

    overflow: auto;
    
    }

.background-black {
    background-color: #020202;
}



/* text */
.text-episode{
    color:#ffff;
    position: relative;
    justify-content: center;
    text-align: center;
    /* transform: translate(0, 250%); */
    transform-origin: center;
    top: 10%;
}

.text-body {
    color:#ffff !important;
    position: relative;
    justify-content: center;
    text-align: center;
    transform: translate(0,0%);
    transform-origin: center;
    top: 25%;
    font-size: 1rem;
}
.long-text-body{
    color:#ffff !important;
    position: relative;
    justify-content: center;
    text-align: center;
    transform: translate(0,0%);
    transform-origin: center;
    top: 25%;
    font-size: 1rem;

}


.player__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: clear;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 100%;
    transition: opacity 0.25s;
}


iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* HR */

.hr-div-1 {
    position: relative;
    display: flex;
    justify-content: center;

}


.hr-class-1 {
    
    position: absolute;
    margin: 0;
    color: #ffffff;
    border-radius: 10px;
    width: 60%;
    border-top: 1px solid;
    opacity: 100%;
    top: -2.5rem;
}



.hr-div-2 {
    position: relative;
    display: flex;
    justify-content: center;

}


.hr-class-2 {
    
    position: absolute;
    margin: 0;
    color: #ffffff;
    border-radius: 10px;
    width: 40%;
    border-top: 1px solid;
    opacity: 100%;
    top: 2.5rem;
}



.hr-div-3 {
    position: relative;
    display: flex;
    justify-content: center;

}


.hr-class-3 {
    
    position: absolute;
    margin: 0;
    color: #ffffff;
    border-radius: 10px;
    width: 60%;
    border-top: 1px solid;
    opacity: 100%;
}


/* display */


.spaceTourism-display {
    display: none;
    justify-content: center;
  }


.baseApparel-display {
    display: none;
    justify-content: center;
  }


.sunnyside-display {
    display: none;
    justify-content: center;
  }


.art-display {
    display: none;
    justify-content: center;
  }



.drumKit-display {
    display: none;
    justify-content: center;
  }



.tinDog-display {
    display: none;
    justify-content: center;
  }


.DropDown-display{
    display: none;
    justify-content: center;
}


.repo-div {
    position: relative;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    padding-top: 5%;
}

.repo-links {
    text-decoration: none;
    color: #F4F4F4;
}
.repo-links:hover {
    text-decoration: underline;
    color: #F4F4F4;
}




/* DESKTOP MEDIA */
/* DESKTOP MEDIA */
/* DESKTOP MEDIA */




  @media (min-width: 768px) {



/* lottie animation*/
#happy-face {
    background-color: black;
    position: absolute;
    z-index: 2;
    width: 40%;
}
/* foto */
.foto-div {
    position: relative;
    width: 60%;
    background-color: #020202;
    left: 40%;
}

.foto-img {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center; 
    margin: auto;
}

/* about */

.about-div {
    position: relative;
    width: 100%;
    height: 28rem;
    background-color: #020202;
}
.about-text {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center; 
    margin: auto;
    padding-top: 6rem;
    text-align: center;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: #F4F4F4;
}

/* Contact me */

.social-div {
    background-color: #020202;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}




.social-text {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: #F4F4F4;
}


.social-email {
    position: relative;
    display: flex;
    justify-content: center;
}

.social-email-icon {
    width: 1.5rem;
    margin-right: 0.5rem;
}





.social-link {
    position: relative;
    display: flex;
    justify-content: center;
}

.social-link-icon {
    width: 1.5rem;
    margin-right: 0.5rem;
}




.social-cv {
    position: relative;
    display: flex;
    justify-content: center;
}
.social-cv-icon {
    width: 1.7rem;
    margin-right: 0.5rem;
}



.social-location {
    position: relative;
    display: flex;
    justify-content: center;
    margin-right: 0.5rem;
}
.social-location-icon {
    width: 2rem;
}



.social-website {
    position: relative;
    display: flex;
    justify-content: center;
}
.social-website-icon {
    width: 2.5rem;
}


a:link {
    text-decoration: none;
  }

a:hover {
text-decoration: underline;
}



/* skill */
.skill-div {
    background-color: #020202;
    width: 100%;
    height: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill-main-title {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    color: #F4F4F4;
}

.skill-carousel {
    position: relative;
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
    height: 30rem;
    font-family: 'Roboto', sans-serif;
    color: #F4F4F4;
    font-size: 1rem;
}

.skill-tabs {
    position: absolute;
    bottom: -5rem;
}



.skill-set-div {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    bottom: none;
    width: 100%;

}


.skill-title {
    display: flex;
    justify-content: center;
}

.skill-text {
    text-align: center;
    position: absolute;
}








.carousel-control-prev{
    position: absolute;
    left: -35%;
    height: 15rem;
}

.carousel-control-next {
    position: absolute;
    right: -35%;
    height: 15rem;
}





/* portafolio */



/* general */
.padding-off {
    padding-left: 0%;
    padding-right: 0%;

}

.image {
    position: relative;
    display: flex;
}

.overflow {

    overflow: auto;
    
    }

.background-black {
    background-color: #020202;
}



/* text */
.text-episode{
    color:#ffff;
    position: relative;
    justify-content: center;
    text-align: center;
    /* transform: translate(0, 250%); */
    transform-origin: center;
    top: 10%;
}

.text-body {
    color:#ffff !important;
    position: relative;
    justify-content: center;
    text-align: center;
    transform: translate(0,0%);
    transform-origin: center;
    top: 35%;
}

.long-text-body{
    color:#ffff !important;
    position: relative;
    justify-content: center;
    text-align: center;
    transform: translate(0,0%);
    transform-origin: center;
    top: 20%;
    font-size: 1rem;

}



.player__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: clear;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 100%;
    transition: opacity 0.25s;
}


iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* HR */

.hr-div-1 {
    position: relative;
    display: flex;
    justify-content: center;

}


.hr-class-1 {
    
    position: absolute;
    margin: 0;
    color: #ffffff;
    border-radius: 10px;
    width: 60%;
    border-top: 1px solid;
    opacity: 100%;
    top: -2.5rem;
}



.hr-div-2 {
    position: relative;
    display: flex;
    justify-content: center;

}


.hr-class-2 {
    
    position: absolute;
    margin: 0;
    color: #ffffff;
    border-radius: 10px;
    width: 40%;
    border-top: 1px solid;
    opacity: 100%;
    top: 2.5rem;
}



.hr-div-3 {

        position: relative;
        display: none;
        justify-content: center;


}


.hr-class-3 {
    
    position: absolute;
    margin: 0;
    color: #ffffff;
    border-radius: 10px;
    width: 60%;
    border-top: 1px solid;
    opacity: 100%;
    top: -1.5rem;
}


  }






